.tai-khoan{
    height: 32px;
    width: 240px;
    display: flex;
    margin-left: 1000px;
    position: fixed;
    right: 25px;
}
.dang-ki{
    background-color: rgb(255, 145, 0);
    border-radius: 15px;
    height: 35px;
    font-size: 19px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 120px;
    margin-right: 10px;
    color: black;
}
.dang-nhap{
    background-color:rgb(255, 145, 0);
    border-radius: 15px;
    height: 35px;
    font-size: 19px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 120px;
    color: black;
}
.navbar{
    display: flex;
    width: 100%;
    background-color: black;
    height: 70px;
    display: flex;
    align-items: center ;
    position: fixed;
}
a{
    text-decoration: none;
}
.dang-nhap:hover{
    background-color: rgb(191, 71, 2);
}
.dang-ki:hover{
    background-color: rgb(191, 71, 2);
}
body{
    margin: 0;
}
i{
    color: white;
}
.icon{
    margin-left:20px;
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.nut-menu{
    margin-left: 20px;
}
.gach-thang{
    color: white;
    font-size: 50px;
    margin-top: 40px;
}
.phan-gach-thang{
    margin-left: 15px;  
}
.banner > img{
    width: 100%;
}
.main{
    width:100%;
    justify-content: center;
    display: flex;
    background-color: black;
}
.container{
    width: 1220px;
    display: flex;
}
.phan-truyenthuyetvehallow{
    width: 750px;
    float: left;
}
.phan-chu-truyenthuyetvehallow{
    width: 750px;
    margin-top: 10px;
}
.chu-truyenthuyetvehallow{
    color: white;
    margin: 0px;
    font-size: 25px;
    border-bottom: 3px solid orange;
    width: 690px;
}
.phan-chuyen-truyenthuyetvehallow{
    width: 750px;
    height: 1400px;
    display: flex;
    flex-direction: column;
}
.chuyen-1-truyenthuyetvehallow{
    width: 700px;
    height: 170px;
    margin-top: 25px;
}
.tieu-de-truyenthuyetvehallow{
    float: right;
    width: 450px;
}
.chu-tieu-de-truyenthuyetvehallow{
    color: white;
    font-size: 22px;
    margin-top: 25px;
}
.nhung-chu-dau-truyenthuyetvehallow{
    color: white;
    font-size: 15px;
    margin-top: 25px;
}
.luot-xem-truyenthuyetvehallow{
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}
.phan-anh-truyenthuyetvehallow{
    float: left;
}
.anh-truyenthuyetvehallow{
    width: 230px;
    height: 170px;
}
.chuyen-2-truyenthuyetvehallow{
    width: 700px;
    height: 170px;
    margin-top: 60px;
}
.chuyen-3-truyenthuyetvehallow{
    width: 700px;
    height: 170px;
    margin-top: 60px;
}
.chuyen-4-truyenthuyetvehallow{
    width: 700px;
    height: 170px;
    margin-top: 60px;
}
.chuyen-5-truyenthuyetvehallow{
    width: 700px;
    height: 170px;
    margin-top: 60px;
}
.chuyen-6-truyenthuyetvehallow{
    width: 700px;
    height: 170px;
    margin-top: 60px;
}
.chu-de-chuyen-truyenthuyetvehallow{
    color: white;
}
.chu-de-chuyen-truyenthuyetvehallow:hover{
    font-weight: bold;
}
.footer{
    background-color: orange;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.phan-chu-about-us{
    width: 1220px;
    height: 80px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}
.thong-tin{
    width: 1220px;
    height: 320px;
    display: flex;
    justify-content: space-between;
}
.cong-ti{
    width: 330px;
}
.cong-ti-co-phan{
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
    margin-top: 40px;
}
.tn-nd{
    font-size: 15px;
    margin: 0px;
    margin-top: 5px;
}
.lien-he{
    width: 330px;
}
.lien-he-hop-tac{
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
    margin-top: 40px;
}
.email{
    font-size: 15px;
    margin: 0px;
    margin-top: 5px;
}
.number{
    font-size: 15px;
    margin: 0px;
    margin-top: 5px;
}
.phan-copyright{
    width: 330px;
}
.copyright{
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
    margin-top: 40px;
}
.address{
    font-size: 15px;
    margin: 0px;
    margin-top: 5px;
}
iframe{
    width: 240px;
    height: 196px;
}
.chu-de-name{
    color: white;
    font-size: 18px;
    padding: 10px;
}
.chu-chu-de{
    color: white;
}
.ten-chu-de{
    border: 1px solid orange;
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
}
.phan-chu-de{
    display: flex;
    flex-wrap: wrap;
}
.chu-de{
    margin-top: 100px;
    float: right;
}
.nhay-len-dau{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(0, 140, 255);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 1600px; */
    /* margin-top: 100px; */
    right: 15px;
    bottom: 15px;
}
